body{
    background-color: #808080;
}
h1{
    font-family: Helvetica, sans-serif;
    font-style: italic;
    letter-spacing: 2px;
}
#movie{
    font-family: Helvetica, sans-serif;
    font-style: italic;
    padding: 10px;
    border: 1px solid #000000;
    outline: none;
}
.container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.mov{
    flex: 500px;
}

